{% extends 'base.html' %}
{% block content %}
<p>СПИСОК КЛИЕНТОВ</p>
  {% for client in clients %}
  <ul>
    <li>
      тел: {{ client.phone_number }}
      {% if client.last_name %}
        {{ client.last_name }}
      {% endif %}
      {{ client.name }}

      <button onclick="location.href='{% url 'saloon:client-update' client.pk %}' " type="button">обновить</button>
      <button onclick="location.href='{% url 'saloon:client-delete' client.pk %}' " type="button">удалить</button>
    </li>
  </ul>
  {% endfor %}
  {% if user.is_staff %}
    <p><button onclick="location.href='{% url 'saloon:client-create' %}' " type="button">новый клиент</button> </p>
  {% endif %}
{% endblock content %}