{% extends 'base.html' %}
{% block content %}
  <p>Услуги мастера {{employee}}
    {% if user.is_staff %}
      {{employee.last_name}}
    {% endif %}
  </p>
  {% for specialization in employee.specialization.all %}
  <li>
      {{specialization}}
  </li>
  {% endfor %}
  {% if user.is_staff %}
    <p>
      <button onclick="location.href='{% url 'saloon:employee-update' employee.pk %}'" type="button">обновить</button> |
      <button onclick="location.href='{% url 'saloon:employee-delete' employee.pk %}'" type="button">удалить</button>
    </p>
  {% endif %}
{% endblock content %}